In [2]:
import os
import json
import pandas as pd
import mysql.connector

In [8]:
#github clone Added Already
path1="C:/Users/Dell/Desktop/Python file/PhonePE Project/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path1)
Agg_state_list

col1={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i=path1+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
                Name=z['name']
                count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                col1['Transaction_type'].append(Name)
                col1['Transaction_count'].append(count)
                col1['Transaction_amount'].append(amount)
                col1['State'].append(i)
                col1['Year'].append(j)
                col1['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(col1)

Agg_Trans["State"] = Agg_Trans["State"].str.replace("andaman-&-nicobar-islands","Andaman and Nicobar")
Agg_Trans["State"] = Agg_Trans["State"].str.replace("-"," ")
Agg_Trans["State"] = Agg_Trans["State"].str.title()
Agg_Trans["State"] = Agg_Trans["State"].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra and Nagar Haveli and Daman Diu")

In [8]:
Agg_Trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman And Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman And Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman And Nicobar,2018,1,Merchant payments,298,4.525072e+05
3,Andaman And Nicobar,2018,1,Financial Services,33,1.060142e+04
4,Andaman And Nicobar,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4489,West Bengal,2024,1,Merchant payments,407607197,2.732137e+11
4490,West Bengal,2024,1,Peer-to-peer payments,355646156,1.100744e+12
4491,West Bengal,2024,1,Recharge & bill payments,72216060,4.716192e+10
4492,West Bengal,2024,1,Financial Services,451008,5.307383e+08
4493,West Bengal,2024,1,Others,488166,3.750216e+08

In [9]:
#  2) AGGREGATE_USER

path2= "C:/Users/Dell/Desktop/Python file/PhonePE Project/pulse/data/aggregated/user/country/india/state/"  #aggregate users path
agg_user_list=os.listdir(path2)
agg_user_list
col2={'State':[],'Year':[],'Quarter':[],'Brand_Name':[],'Count':[],'Percentage':[]}

for state in agg_user_list:
    actual_state=path2 + "/"+state + "/"
    agg_yr=os.listdir(actual_state)
    for year in agg_yr:
        actual_yr=actual_state +"/"+ year + "/"
        agg_yr_list=os.listdir(actual_yr)
        for file in agg_yr_list:
            actual_file=actual_yr+file
            Data=open(actual_file,'r')
            D2=json.load(Data)
            try:
                for i in D2['data']['usersByDevice']:
                    Brand_Name=i['brand']
                    Count=i['count']
                    percentage=i['percentage']
                    col2['Brand_Name'].append(Brand_Name)
                    col2['Count'].append(Count)
                    col2['Percentage'].append(percentage)
                    col2['State'].append(state)
                    col2['Year'].append(year)
                    col2['Quarter'].append(int(file.strip('.json')))
            except:
                pass

aggre_user=pd.DataFrame(col2)

# Correcting the column name to 'State' instead of 'States'
aggre_user["State"] = aggre_user["State"].str.replace("andaman-&-nicobar-islands","Andaman and Nicobar")
aggre_user["State"] = aggre_user["State"].str.replace("-"," ")
aggre_user["State"] = aggre_user["State"].str.title()
aggre_user["State"] = aggre_user["State"].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra and Nagar Haveli and Daman Diu")

In [10]:
aggre_user

                    State  Year  Quarter Brand_Name    Count  Percentage
0     Andaman And Nicobar  2018        1     Xiaomi     1665    0.247033
1     Andaman And Nicobar  2018        1    Samsung     1445    0.214392
2     Andaman And Nicobar  2018        1       Vivo      982    0.145697
3     Andaman And Nicobar  2018        1       Oppo      501    0.074332
4     Andaman And Nicobar  2018        1    OnePlus      332    0.049258
...                   ...   ...      ...        ...      ...         ...
6727          West Bengal  2022        1     Lenovo   330017    0.015056
6728          West Bengal  2022        1    Infinix   284678    0.012987
6729          West Bengal  2022        1       Asus   280347    0.012790
6730          West Bengal  2022        1      Apple   277752    0.012671
6731          West Bengal  2022        1     Others  2196334    0.100199

[6732 rows x 6 columns]

In [10]:
#  3) MAP_TRANSACTION
path3 ="C:/Users/Dell/Desktop/Python file/PhonePE Project/pulse/data/map/transaction/hover/country/india/state/" # Map Transaction Path
map_state_list = os.listdir(path3)
map_state_list

col3 = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_district': [], 'Transaction_count': [], 'Transaction_amount': []}

for i in map_state_list:
    p_i=path3+i+"/"
    map_yr=os.listdir(p_i)
    for j in map_yr:
        p_j=p_i+j+"/"
        map_yr_list=os.listdir(p_j)
        for k in map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
                    name = z['name']
                    ttype = z['metric'][0]['type']
                    count = z['metric'][0]['count']
                    amount = z['metric'][0]['amount']
                    col3['Transaction_district'].append(name)
                    col3['Transaction_count'].append(count)
                    col3['Transaction_amount'].append(amount)
                    col3['State'].append(i)
                    col3['Year'].append(j)
                    col3['Quarter'].append(int(k.strip('.json')))

map_trans=pd.DataFrame(col3)

map_trans['State']=map_trans['State'].str.replace("andaman-&-nicobar-islands","Andaman and Nicobar")
map_trans['State']=map_trans['State'].str.replace("-"," ")
map_trans['State']=map_trans['State'].str.title()
map_trans['State']=map_trans['State'].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra and Nagar Haveli and Daman Diu")

In [12]:
map_trans

,State,Year,Quarter,Transaction_district,Transaction_count,Transaction_amount
0,Andaman And Nicobar,2018,1,north and middle andaman district,442,9.316631e+05
1,Andaman And Nicobar,2018,1,south andaman district,5688,1.256025e+07
2,Andaman And Nicobar,2018,1,nicobars district,528,1.139849e+06
3,Andaman And Nicobar,2018,2,north and middle andaman district,825,1.317863e+06
4,Andaman And Nicobar,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
18291,West Bengal,2024,1,nadia district,42154481,7.903014e+10
18292,West Bengal,2024,1,birbhum district,24812300,4.640025e+10
18293,West Bengal,2024,1,purba medinipur district,46212626,9.237355e+10
18294,West Bengal,2024,1,maldah district,42299563,7.671603e+10
18295,West Bengal,2024,1,darjiling district,18129044,2.927784e+10

In [11]:
#  4) MAP_USER

path4="C:/Users/Dell/Desktop/Python file/PhonePE Project/pulse/data/map/user/hover/country/india/state/"
mapuser_state_list = os.listdir(path4)
mapuser_state_list

col4 = {'State': [], 'Year': [], 'Quater': [], 'District': [],'Registered_user': [], 'App_opening': []}

for i in mapuser_state_list:
    p_i = path4+i+"/"
    year = os.listdir(p_i)
    for j in year:
        p_j = p_i+j+"/"
        file = os.listdir(p_j)
        for k in file:
            p_k = p_j+k
            Data = open(p_k, 'r')
            D = json.load(Data)
            try:
                for z in D['data']["hoverData"]:
                    district = z
                    registered_user =  D['data']["hoverData"][z]["registeredUsers"]
                    app_opening = D['data']["hoverData"][z]["appOpens"]
                    col4['District'].append(district)
                    col4['Registered_user'].append(registered_user)
                    col4['App_opening'].append(app_opening)
                    col4['State'].append(i)
                    col4['Year'].append(j)
                    col4['Quater'].append(int(k.strip('.json')))

            except:
                pass

map_users = pd.DataFrame(col4)

map_users['State']=map_users['State'].str.replace("andaman-&-nicobar-islands","Andaman and Nicobar")
map_users['State']=map_users['State'].str.replace("-"," ")
map_users['State']=map_users['State'].str.title()
map_users['State']=map_users['State'].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra and Nagar Haveli and Daman Diu")

In [14]:
map_users

,State,Year,Quater,District,Registered_user,App_opening
0,Andaman And Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman And Nicobar,2018,1,south andaman district,5846,0
2,Andaman And Nicobar,2018,1,nicobars district,262,0
3,Andaman And Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman And Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
18295,West Bengal,2024,1,nadia district,1671140,13679202
18296,West Bengal,2024,1,birbhum district,1056537,30502875
18297,West Bengal,2024,1,purba medinipur district,1655920,18688405
18298,West Bengal,2024,1,maldah district,1183956,33270738
18299,West Bengal,2024,1,darjiling district,686254,31485682

In [12]:
# 5) TOP_TRANSACTION 
path5="C:/Users/Dell/Desktop/Python file/PhonePE Project/pulse/data/top/transaction/country/india/state/"
top_trans_state_list = os.listdir(path5)
top_trans_state_list

col5 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [], 'Transaction_amount': []}

for i in top_trans_state_list:
    p_i=path5+i+"/"
    top_trans_yr=os.listdir(p_i)
    for j in top_trans_yr:
        p_j=p_i+j+"/"
        top_trans_yr_list=os.listdir(p_j)
        for k in top_trans_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
                name = z['entityName']
                mtype = z['metric']['type']
                count = z['metric']['count']
                amount = z['metric']['amount']
                col5['Pincode'].append(name)
                col5['Transaction_count'].append(count)
                col5['Transaction_amount'].append(amount)
                col5['State'].append(i)
                col5['Year'].append(j)
                col5['Quarter'].append(int(k.strip('.json')))

top_trans = pd.DataFrame(col5)

top_trans['State']=top_trans['State'].str.replace("andaman-&-nicobar-islands","Andaman and Nicobar")
top_trans['State']=top_trans['State'].str.replace("-"," ")
top_trans['State']=top_trans['State'].str.title()
top_trans['State']=top_trans['State'].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra and Nagar Haveli and Daman Diu")

In [16]:
top_trans

,State,Year,Quarter,Pincode,Transaction_count,Transaction_amount
0,Andaman And Nicobar,2018,1,744101,1622,2.769298e+06
1,Andaman And Nicobar,2018,1,744103,1223,2.238042e+06
2,Andaman And Nicobar,2018,1,744102,969,3.519060e+06
3,Andaman And Nicobar,2018,1,744105,685,1.298561e+06
4,Andaman And Nicobar,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8919,West Bengal,2024,1,732125,4490229,7.014125e+09
8920,West Bengal,2024,1,700006,4358390,8.114395e+09
8921,West Bengal,2024,1,700001,4321119,8.497021e+09
8922,West Bengal,2024,1,732201,4265219,9.908795e+09
8923,West Bengal,2024,1,742202,3985791,8.428173e+09

In [13]:
# 6) TOP_USERS 
path6="C:/Users/Dell/Desktop/Python file/PhonePE Project/pulse/data/top/user/country/india/state/"
top_users_state_list = os.listdir(path6)
top_users_state_list

col6  = {'State': [], 'Year': [], 'Quarter': [], 'registeredusers': [], 'Pincode': []}

for i in top_users_state_list:
    p_i=path6+i+"/"
    top_users_yr=os.listdir(p_i)
    for j in top_users_yr:
        p_j=p_i+j+"/"
        top_users_yr_list=os.listdir(p_j)
        for k in top_users_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
                name = z['name']
                registeredusers = z['registeredUsers']
                col6['Pincode'].append(name)
                col6['registeredusers'].append(registeredusers)
                col6['State'].append(i)
                col6['Year'].append(j)
                col6['Quarter'].append(int(k.strip('.json')))

top_user= pd.DataFrame(col6)

top_user['State']=top_user['State'].str.replace("andaman-&-nicobar-islands","Andaman and Nicobar")
top_user['State']=top_user['State'].str.replace("-"," ")
top_user['State']=top_user['State'].str.title()
top_user['State']=top_user['State'].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra and Nagar Haveli and Daman Diu")

In [18]:
top_user

                    State  Year  Quarter  registeredusers Pincode
0     Andaman And Nicobar  2018        1             1608  744103
1     Andaman And Nicobar  2018        1             1108  744101
2     Andaman And Nicobar  2018        1             1075  744105
3     Andaman And Nicobar  2018        1             1006  744102
4     Andaman And Nicobar  2018        1              272  744104
...                   ...   ...      ...              ...     ...
8920          West Bengal  2024        1           131676  700015
8921          West Bengal  2024        1           127917  742304
8922          West Bengal  2024        1           127891  721101
8923          West Bengal  2024        1           123919  700150
8924          West Bengal  2024        1           122985  700091

[8925 rows x 5 columns]

In [14]:
# Create CSV files
Agg_Trans.to_csv('agg_trans.csv', index=False)
aggre_user.to_csv('agg_user.csv', index=False)
map_trans.to_csv('map_trans.csv', index=False)
map_users.to_csv('map_user.csv', index=False)
top_trans.to_csv('top_trans.csv', index=False)
top_user.to_csv('top_user.csv', index=False)

In [3]:
# ----- MySQL Connection -----

mydb = mysql.connector.connect( host="localhost", user="root", password="")
print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021B4D301550>

In [17]:
mycursor.execute('create database phonepe')
mycursor.execute('use phonepe')

In [16]:
# mycursor.execute('drop database phonepe')

# Table create

In [18]:
# Create and insert data into "Aggregate Transaction" Table
mycursor.execute("CREATE TABLE IF NOT EXISTS aggregate_transaction (State VARCHAR(100), Year INT, Quarter INT, Transaction_type VARCHAR(100), Transaction_count INT, Transaction_amount INT)")

for i, row in Agg_Trans.iterrows():
    sql = "INSERT INTO aggregate_transaction VALUES (%s, %s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [24]:
# Create and insert data into "Aggregate User" Table
mycursor.execute("CREATE TABLE IF NOT EXISTS aggregate_user (State VARCHAR(100), Year INT, Quarter INT, Brand_Name VARCHAR(100), Count BIGINT, Percentage FLOAT)")

for i, row in aggre_user.iterrows():
    sql = "INSERT INTO aggregate_user VALUES (%s, %s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [19]:
# Create and insert data into "Map Transaction" Table
mycursor.execute("CREATE TABLE IF NOT EXISTS map_transaction (State VARCHAR(100), Year INT, Quarter INT, Transaction_district VARCHAR(100), Transaction_count BIGINT, Transaction_amount FLOAT)")

for i, row in map_trans.iterrows():
    # Skip the index column if present
    data = tuple(row.values)
    sql = "INSERT INTO map_transaction VALUES (%s, %s, %s, %s, %s, %s)"
    mycursor.execute(sql, data)
    mydb.commit()

In [20]:
# Create and insert data into "Map User" Table
mycursor.execute("CREATE TABLE IF NOT EXISTS map_users (State VARCHAR(100), Year INT, Quarter INT, District VARCHAR(100), Registered_user BIGINT, App_opening BIGINT)")

for i, row in map_users.iterrows():
    sql = "INSERT INTO map_users VALUES (%s, %s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [27]:
# Create and insert data into "Top Transaction" Table
mycursor.execute("CREATE TABLE IF NOT EXISTS top_transaction (State VARCHAR(100), Year INT, Quarter INT, Pincode INT, Transaction_count BIGINT, Transaction_amount BIGINT)")

for i, row in top_trans.iterrows():
    sql = "INSERT INTO top_transaction VALUES (%s, %s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [29]:
# Create and insert data into "Top User" Table
mycursor.execute("CREATE TABLE IF NOT EXISTS top_users (State VARCHAR(100), Year INT, Quarter INT, registeredusers BIGINT, Pincode INT)")

for i, row in top_user.iterrows():
    sql = "INSERT INTO top_users VALUES (%s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [ ]:
#List of table 
mycursor.execute("show tables")
mycursor.fetchall()